version: '3.8'

services:
  product-service:
    build:
      context: ./project-service
      dockerfile: Dockerfile
    image: sganesamoorthy/project-service:v1  # Specify your Docker Hub username here
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/projectdb

  user-service:
    build:
      context: ./customer-service
      dockerfile: Dockerfile
    image: sganesamoorthy/customer-service:v1  # Specify your Docker Hub username here
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/customerdb

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
